.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.936500;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.691406;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.809082;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.746094;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.078125px;}
._0{width:1.019531px;}
._3{width:32.000001px;}
._2{width:48.443848px;}
.fc4{color:rgb(17,85,204);}
.fc0{color:rgb(0,0,0);}
.fc1{color:rgb(247,93,93);}
.fc2{color:rgb(204,204,204);}
.fc3{color:rgb(102,102,102);}
.fs0{font-size:24.000000px;}
.fs2{font-size:36.000000px;}
.fs3{font-size:39.000000px;}
.fs6{font-size:39.999999px;}
.fs5{font-size:44.000001px;}
.fs4{font-size:45.000000px;}
.fs1{font-size:57.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:11.250000px;}
.y8{bottom:24.000000px;}
.y24{bottom:29.250000px;}
.y7{bottom:36.750000px;}
.y6{bottom:49.500000px;}
.y23{bottom:73.500000px;}
.y22{bottom:99.000000px;}
.y21{bottom:114.750000px;}
.y20{bottom:130.500000px;}
.y1f{bottom:153.750000px;}
.y1e{bottom:185.250000px;}
.y1d{bottom:201.750000px;}
.y1c{bottom:226.500000px;}
.y1b{bottom:248.250000px;}
.y1a{bottom:264.750000px;}
.y19{bottom:287.250000px;}
.y18{bottom:322.500000px;}
.y3a{bottom:331.500000px;}
.y17{bottom:338.250000px;}
.y39{bottom:347.250000px;}
.y16{bottom:354.000000px;}
.y38{bottom:363.000000px;}
.y15{bottom:369.750000px;}
.y14{bottom:385.500000px;}
.y37{bottom:386.250000px;}
.y13{bottom:401.250000px;}
.y12{bottom:417.000000px;}
.y36{bottom:421.500000px;}
.y35{bottom:437.250000px;}
.y11{bottom:440.250000px;}
.y34{bottom:460.500000px;}
.y10{bottom:475.500000px;}
.yf{bottom:491.250000px;}
.y33{bottom:495.750000px;}
.ye{bottom:507.000000px;}
.y32{bottom:509.250000px;}
.yd{bottom:522.750000px;}
.yc{bottom:538.500000px;}
.y31{bottom:544.500000px;}
.yb{bottom:554.250000px;}
.y30{bottom:560.250000px;}
.y2f{bottom:576.000000px;}
.ya{bottom:577.500000px;}
.y2e{bottom:591.750000px;}
.y2d{bottom:607.500000px;}
.y5{bottom:621.000000px;}
.y2c{bottom:623.250000px;}
.y2b{bottom:639.000000px;}
.y2a{bottom:654.750000px;}
.y29{bottom:670.500000px;}
.y28{bottom:686.250000px;}
.y4{bottom:688.500000px;}
.y27{bottom:702.000000px;}
.y3{bottom:708.000000px;}
.y26{bottom:717.750000px;}
.y2{bottom:724.500000px;}
.y25{bottom:757.500000px;}
.y1{bottom:780.750000px;}
.h3{height:16.593750px;}
.h1{height:18.096000px;}
.h7{height:27.144000px;}
.h5{height:27.351563px;}
.h6{height:29.406000px;}
.h8{height:35.771484px;}
.h2{height:44.642578px;}
.h4{height:66.000000px;}
.h0{height:792.000000px;}
.w1{width:357.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:7.500000px;}
.x1{left:90.000000px;}
.x3{left:108.000000px;}
.x4{left:144.000000px;}
.x6{left:162.000000px;}
.x5{left:516.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.437500pt;}
._0{width:1.359375pt;}
._3{width:42.666668pt;}
._2{width:64.591797pt;}
.fs0{font-size:32.000000pt;}
.fs2{font-size:48.000000pt;}
.fs3{font-size:52.000000pt;}
.fs6{font-size:53.333332pt;}
.fs5{font-size:58.666668pt;}
.fs4{font-size:60.000000pt;}
.fs1{font-size:76.000000pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:15.000000pt;}
.y8{bottom:32.000000pt;}
.y24{bottom:39.000000pt;}
.y7{bottom:49.000000pt;}
.y6{bottom:66.000000pt;}
.y23{bottom:98.000000pt;}
.y22{bottom:132.000000pt;}
.y21{bottom:153.000000pt;}
.y20{bottom:174.000000pt;}
.y1f{bottom:205.000000pt;}
.y1e{bottom:247.000000pt;}
.y1d{bottom:269.000000pt;}
.y1c{bottom:302.000000pt;}
.y1b{bottom:331.000000pt;}
.y1a{bottom:353.000000pt;}
.y19{bottom:383.000000pt;}
.y18{bottom:430.000000pt;}
.y3a{bottom:442.000000pt;}
.y17{bottom:451.000000pt;}
.y39{bottom:463.000000pt;}
.y16{bottom:472.000000pt;}
.y38{bottom:484.000000pt;}
.y15{bottom:493.000000pt;}
.y14{bottom:514.000000pt;}
.y37{bottom:515.000000pt;}
.y13{bottom:535.000000pt;}
.y12{bottom:556.000000pt;}
.y36{bottom:562.000000pt;}
.y35{bottom:583.000000pt;}
.y11{bottom:587.000000pt;}
.y34{bottom:614.000000pt;}
.y10{bottom:634.000000pt;}
.yf{bottom:655.000000pt;}
.y33{bottom:661.000000pt;}
.ye{bottom:676.000000pt;}
.y32{bottom:679.000000pt;}
.yd{bottom:697.000000pt;}
.yc{bottom:718.000000pt;}
.y31{bottom:726.000000pt;}
.yb{bottom:739.000000pt;}
.y30{bottom:747.000000pt;}
.y2f{bottom:768.000000pt;}
.ya{bottom:770.000000pt;}
.y2e{bottom:789.000000pt;}
.y2d{bottom:810.000000pt;}
.y5{bottom:828.000000pt;}
.y2c{bottom:831.000000pt;}
.y2b{bottom:852.000000pt;}
.y2a{bottom:873.000000pt;}
.y29{bottom:894.000000pt;}
.y28{bottom:915.000000pt;}
.y4{bottom:918.000000pt;}
.y27{bottom:936.000000pt;}
.y3{bottom:944.000000pt;}
.y26{bottom:957.000000pt;}
.y2{bottom:966.000000pt;}
.y25{bottom:1010.000000pt;}
.y1{bottom:1041.000000pt;}
.h3{height:22.125000pt;}
.h1{height:24.128000pt;}
.h7{height:36.192000pt;}
.h5{height:36.468750pt;}
.h6{height:39.208000pt;}
.h8{height:47.695313pt;}
.h2{height:59.523438pt;}
.h4{height:88.000000pt;}
.h0{height:1056.000000pt;}
.w1{width:476.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:10.000000pt;}
.x1{left:120.000000pt;}
.x3{left:144.000000pt;}
.x4{left:192.000000pt;}
.x6{left:216.000000pt;}
.x5{left:688.000000pt;}
}
